$color-primary: linear-gradient(222.26deg, #3b1d60 1.22%, #040d3e 106.28%);
// $color-primary: red;
$color-text-navbar: #B5B5B5;
$color-boton: #F2994A;
$color-text-naranja: rgb(242, 153, 74);
$color-text-title: rgb(153, 239, 208);
$color-primary-opacity: #3C0D77;
$color-white:white;
$color-error: red;

$color-bg-footer: #280750;

// Letters
// $medium-letter: 14px;
// $small-letter: 12px;
// $title-letter: 30px;