// DEFAULTS
$white: #fff;
$black: #000;
$t-1: all 0.3s ease-out;
$t-3: all 0.8s ease-in-out;
// SITE
// $brand-1: #9c9e4b;
$brand-1: #19a79b;
$brand-2: #446b34;

$gray: #555555;
$yellow: #ffbd4f;
$red: #c90000;
$beige: #f2f2f2;
$verde-resalte: #9eeeee;
$c-1: #1a3447;
$c-2: #7f8d98;
$c-3: #f2f2f2;
// ------------------OTHERS------------------
$c-4: #1a1a1a;
$c-5: #e6e6e6;
$c-6: #eaeaea;
$c-7: #efefef;

$t-2: 0.25s ease-in-out;
