.card {
  @extend %box;
  transition: $t-1;

  &:hover {
    box-shadow: 0 4px 16px 0 rgba($c-1, 0.16);
  }

  .card--options {
    display: flex;
    align-items: center;
    position: absolute;
    right: 24px;

    li {
      display: flex;

      &:not(:last-child) {
        padding-right: 8px;
        border-right: 1px solid $beige;
        margin-right: 8px;
      }

      .icon {
        display: inline-block;

        background-repeat: no-repeat;
        background-position: center;
        width: 24px;
        height: 24px;

        &--visible {
          background-image: url('/images/icons/eye.svg');
        }

        &--favorite {
          -webkit-transition: background-image 0.2s ease-in-out;
          transition: background-image 0.2s ease-in-out;
          background-image: url('/images/icons/favorite.svg');
          &-active {
            -webkit-transition: background-image 0.2s ease-in-out;
            transition: background-image 0.2s ease-in-out;
            background-image: url('/images/icons/favorite-active.svg');
          }
        }
        &--edit {
          background-image: url('/images/icons/edit.svg');
        }
      }
    }
  }
}